<header class="header-div">
    <img src="../../assets/images/header.jpg" width="80%" height="150vh">
</header>
<div class="container-fluid registrar-page mt-2">

    <h4 class="registration-form-headerer">Registration Form</h4>
    <div class="registration-form">
        <div class="form-group">
            <input type="text" placeholder="First Name" class="form-control">
        </div>

        <div class="form-group">
            <input type="text" placeholder="Last name" class="form-control">
        </div>

        <div class="form-group">
            <input type="email" placeholder="Email" class="form-control">
        </div>

        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
        </div>

        <div class="form-group">
            <input type="date" placeholder="DOB" class="form-control">
        </div>

        <div class="form-group">
            <input type="number" placeholder="Phone Number" class="form-control">
        </div>

        <div class="form-group">
            <input type="radio" name="gender"> <label>Male</label> &nbsp;
            <input type="radio"> <label>Female</label>
        </div>

        <div class="form-group">
            <select>
                <option>Select</option>
                <option>HTML</option>
                <option>CSS3</option>
                <option>Javascript</option>
            </select>
        </div>

        <input type="button" value="Cancel" class="btn btn-default"> &nbsp;
        <input type="button" value="Save" class="btn btn-primary">
    </div>


</div>
<br />
<hr>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-success">
        <tr>
            <th>Course Name</th>
            <th>Fees ($)</th>
            <th>Duration</th>
            <th>Lecturer</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Angular</td>
            <td>500</td>
            <td>3 months</td>
            <td>Mr. Desai</td>
        </tr>

        <tr>
            <td>React</td>
            <td>300</td>
            <td>2 months</td>
            <td>Mrs. Patel</td>
        </tr>

        <tr>
            <td>Vue JS</td>
            <td>400</td>
            <td>3 months</td>
            <td>Mr.Mehta</td>
        </tr>

        <tr>
            <td>Node JS</td>
            <td>300</td>
            <td>2 months</td>
            <td>Ms. Nayak</td>
        </tr>
    </tbody>
</table>
<br />
<hr>

<div>
    <h5>Pre-requsites</h5>
    <ul style="list-style-type: square">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Javascript (Basic)</li>
    </ul>
    <hr>
    <h5>Timings</h5>
    <ul style="list-style-type: circle">
        <li>Morning - 8 am to 10 am est</li>
        <li>Evening - 6 pm to  8 pm est</li>
        <li>Night - 8 pm to 10 pm est</li>
    </ul>
</div>
<hr>

<!-- <div class="pop-up card">
    <h3 class="card-header">Alert Message</h3>
    <div class="card-body">
        <label>Please follow below instructions:</label>
        <ol type="1">
            <li>Show the proof of vaccination card</li>
            <li>Mask is mandatory</li>
            <li>Distance to be maintained</li>
        </ol>
    </div>
    <div class="card-footer">
        <input type="button"value="ök"> &nbsp;
        <input type="button"value="Cancel">
    </div>
</div> -->

<div>
    <div class="chat-box card">
        <div class="card-header chatbox-header">Ask Me? </div>
        <div class="card-body">Hi, How can i help you today?</div>
        <div class="card-footer">
            <input class="form-control d-inline input-text" type="text" placeholder="Enter text here ... "> &nbsp;
            <input class="btn btn-primary d-inline" type="button"value="Send">
        </div>
    </div>
</div>

<div class="table table-bordered" style="">
    <div class="row ">
        <div class="col-2">Contact Details</div>
        <div class="col-2">Careers</div>
        <div class="col-2">www.workhard.com </div>
        <div class="col-2">Timings?1</div>
        <div class="col-2">Timings?2</div>
        <div class="col-2">Timings?3</div>
    </div>

    <div class="row">
        <div class="col-2">Vish Verma</div>
        <div class="col-2">UI Tutor</div>
        <div class="col-2">www.study.com</div>
        <div class="col-2">Fees?</div>
        <div class="col-2">Timings?</div>
        <div class="col-2">Timings?</div>
    </div>

    <div class="row">
        <div class="col-2">Richa Patel</div>
        <div class="col-2">Admin Officer</div>
        <div class="col-2">Other Links </div>
        <div class="col-2">FAQs</div>
        <div class="col-2">Timings?</div>
        <div class="col-2">Timings?</div>
    </div>

    <div class="row">
        <div class="col-2">Richa Patel</div>
        <div class="col-2">Admin Officer</div>
        <div class="col-2">Other Links </div>
        <div class="col-2">FAQs</div>
        <div class="col-2">Timings?</div>
        <div class="col-2">Timings?</div>
    </div>

</div>